/* Site locations */
/* 1. css conection fonts */
/* 2.unversial css style */
/* 3.start css style */

@font-face {
    font-family: MyPopins500;
    src: url(../fonts/popins/Poppins/Poppins-ExtraBold.ttf);
  }
  @font-face {
    font-family: myEdvardian;
    src: url(../fonts/popins/Poppins/edwardianscriptitc.ttf);
  }
  @font-face {
    font-family: myPopinsMedium;
    src: url(../fonts/popins/Poppins/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: myPopinsRegular;
    src: url(../fonts/popins/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: myPopinsLight;
    src: url(../fonts/popins/Poppins/Poppins-Light.ttf);
  }
 
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   body{
    font-family: MyPopins;
    text-decoration: none;
    list-style: none;
   }

   /*start css style web site*/

   nav{
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    background-color: #fff;
    z-index: 999;
    
   }

.navigation_menu {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo {
    width: 174px;
    height: 66px;
}
.logo_title {
    margin-top: 35px;
    font-size: 30px;
    font-family: 'myPopinsMedium','sans-serif';
    font-style: normal;
    font-weight: 400;
    color: #9024B6;
}
.logo_circle {
    color: white;
   
    border-radius: 40% 10%;
    background-color: #9024B6;
}
.navigation_items-info{
    display: flex;
    white-space: nowrap;
    justify-content: space-between;
    align-items: center;
}
.navigation_menu_items {
    display: flex;
    margin-top: 50px;
    
}
.nav_item {
    transition: all 0.3s ease;
    list-style: none;
}
.nav_item-link {
    white-space: nowrap;
    padding:8px 15px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: myPopinsLight;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    transition: all 0.1s ease-in;
}
.nav_item-link:hover{
    position: relative;
    left: 0;
    border-bottom: 3px solid #9024B6;  
}
.nav_item-link:not(:last-child){
    margin-left: 23px;
}
.nav_button {
    margin-top: 35px;
    margin-left: 50px;
}
.nav_btn {
    border-radius: 10px;
    white-space: nowrap;
    padding:8px 15px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;font-family: "myPopinsLight";
    background-color: #9024B6;
    color: #fff; 
}
.nav_burger{
    display: none;
    margin-top: 45px;
    margin-left: 10px;
}
.nav_burger i{
    font-size: 35px;

}

/* sticy nav  */
.sticky{
    background-color: white;
    padding-bottom: 30px;
    box-shadow: 0px 7px 8px -3px rgba(34, 60, 80, 0.2);
}
footer{
    height: 150vh;
}
.site_header{
    margin-top: -10px;
    padding-top: 120px;
}


@media screen and (max-width:1400px){
    .nav_item-link{
        font-size: 14px;
        padding: 11px 13px;
    }
    .nav_item-link:not(:last-child){
        margin-left: 15px;
    }
    .nav_button{
        margin-left: 50px;
    }
    
}

@media screen and (max-width:1200px){
    .nav_item-link{
        font-size: 13px;
    }
}
@media screen and (max-width:1050px){
    body{
        overflow-x: hidden;
    }
    .navigation_menu_items{
        margin: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        width: 300px;
        height: 75vh;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        transition: transform .3s ease-in;
        transform: translateX(100%);
    }
    .nav_item{
        padding: 0;
        margin: 0;
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .sticky .navigation_menu_items{
        margin-top: 0;
        padding-top:0px;
    }
    .nav_item-link{
        margin: 0;
        padding: 0;
        text-align: center;
    }
    .nav_burger{
        display: block;
    }
    .burger_active{
       transform: translateX(0);
    }
   .nav_button{
    padding: 0;
    margin-left: 0;
    position: absolute;
    right: 20%;
   }

}

@media screen and (max-width:550px){
    .navigation_menu{
        position: relative;
    }
    .nav_button{
        position: absolute;
       bottom: -75vh;
       width:60%;
       margin-left: 1p;
    }
    .nav_btn{
        width: 100%;
        margin: auto;
    }
}