/* Site locations */
/* 1. css conection fonts */
/* 2.unversial css style */
/* 3.start css style */

@font-face {
    font-family: MyPopins500;
    src: url(../fonts/popins/Poppins/Poppins-ExtraBold.ttf);
  }
  @font-face {
    font-family: myEdvardian;
    src: url(../fonts/popins/Poppins/edwardianscriptitc.ttf);
  }
  @font-face {
    font-family: myPopinsMedium;
    src: url(../fonts/popins/Poppins/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: myPopinsRegular;
    src: url(../fonts/popins/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: myPopinsLight;
    src: url(../fonts/popins/Poppins/Poppins-Light.ttf);
  }
 
 
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
   body{
    font-family: MyPopins;
    text-decoration: none;
    list-style: none;
   }

   /*start css style web site*/

   nav{
    width: 100%;
    position: fixed;
    transition: all 0.3s ease;
    
   }

.navigation_menu {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.nav_logo {
    width: 174px;
    height: 66px;
}
.logo_title {
    margin-top: 60px;
    font-size: 30px;
    font-family: 'myPopinsMedium','sans-serif';
    font-style: normal;
    font-weight: 400;
    color: #9024B6;
}
.logo_circle {
    color: white;
   
    border-radius: 40% 10%;
    background-color: #9024B6;
}
.navigation_menu_items {
    display: flex;
    
}
.nav_item {
    margin-top: 85px;
    transition: all 0.3s ease;

    list-style: none;
}
.nav_item-link {
    white-space: nowrap;
    padding: 11px 19px;
    color: #000;
    text-decoration: none;
    font-size: 16px;
    font-family: myPopinsLight;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    border-bottom: 3px solid #9024B6;
    transition: all 0.3s ease-in-out;
}
.nav_item-link{
    margin-left: 19px;
}
.nav_button {
    margin-top: 60px;
    margin-left: 97px;
    border-radius: 10px;
    height: 33px;
    background-color: #9024B6;
}
.nav_btn {
    border-radius: 10px;
    white-space: nowrap;

    padding: 11px 19px;
    border: none;
    text-transform: uppercase;
    font-size: 16px;font-family: "myPopinsLight";
    background-color: #9024B6;
    color: #fff;
    
}


.sticky{
    background-color: red;
    padding-bottom: 30px;
}
.sticky .logo_title,
.sticky .nav_button{
    margin-top: 30px;
} 
.sticky .nav_item{
    margin-top: 35px;
}

footer{
    height: 150vh;
}