
/* Site locations */
/* 1.Css conection fonts */
/* 2.Unversial css style */
/* 3.Start css style */
/* 4.Start  navigation*/
/* 5.Sticy nav javascript*/
/* 6.Start site header section */
/* 7.Start site About Me */
/* 8.Start site Services */
/* 9.Start site Contact Me */
/* 10.start site Portfolio*/
/* 11.start site Frends Me*/
/* .Start site Footer*/

@font-face {
    font-family: MyPopins500;
    src: url(../fonts/popins/Poppins/Poppins-ExtraBold.ttf);
  }
  @font-face {
    font-family: myEdvardian;
    src: url(../fonts/popins/Poppins/edwardianscriptitc.ttf);
  }
  @font-face {
    font-family: myPopinsMedium;
    src: url(../fonts/popins/Poppins/Poppins-Medium.ttf);
  }
  @font-face {
    font-family: myPopinsRegular;
    src: url(../fonts/popins/Poppins/Poppins-Regular.ttf);
  }
  @font-face {
    font-family: myPopinsLight;
    src: url(../fonts/popins/Poppins/Poppins-Light.ttf);
  }
 
 
  :root{
    --primary-color: #1A1919;
    --dark-color: white;
  }
  .dark_site{
    --primary-color: white;
    --dark-color: #1A1919;
  }


  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    list-style: none;
    font-family: MyPopins;
    text-decoration: none;
    cursor: none;
   }
   .active{
    color: #9024B6;
   }
   .dark{
    color: var(--primary-color);
   }

   /*start css style web site*/
   .cursor{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    display: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    z-index: 1000;
    background-color: #9024B6;
    -webkit-box-shadow: 1px 0px 26px 22px rgba(144, 36, 182, 0.29);
-moz-box-shadow: 1px 0px 26px 22px rgba(144, 36, 182, 0.29);
box-shadow: 1px 0px 26px 22px rgba(144, 36, 182, 0.29);

    pointer-events: none;
   }
   .cursor::before{
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    background-color: #9e3cc2a3;
    transform: translate(-50%, -50%);
   }
   .cursor_active{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 1000;
    pointer-events: none;

   }
   nav{
    width: 100%;
    z-index: 9;
    position: fixed;
    background-color: var(--primary-color);
    transition: all 0.3s ease;
   }

.navigation_menu {
    width: 100%;
    display: flex;
    margin-top: 0;
    align-items: center;
    justify-content: space-between;
}
.nav_logo {
    width: 174px;
    height: 66px;
}
.logo_title {
    font-size: 30px;
    font-weight: 400;
    margin-top: 35px;
    color: #9024B6;
    font-style: normal;
    font-family: 'myPopinsMedium','sans-serif';
}
.logo_circle {
    color: white;
    border-radius: 40% 10%;
    background-color: #9024B6;
    
}
.navigation_items-info{
    display: flex;
    white-space: nowrap;
    align-items: center;
    justify-content: space-between;
}
.navigation_menu_items {
    display: flex;
    margin-top: 50px;
}
.nav_item {
    list-style: none;
    transition: all 0.3s ease;
    
}
.nav_item-link {
    cursor: none;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 300;
    padding:8px 15px;
    font-style: normal;
    white-space: nowrap;
    text-decoration: none;
    text-transform: uppercase;
    font-family: myPopinsLight;
    transition: all 0.1s ease-in;
}
.nav_item-link:hover{
    left: 0;
    position: relative;
    border-bottom: 3px solid #9024B6;  
}
.nav_item-link:not(:last-child){
    margin-left: 23px;
}
.nav_button {
    margin-top: 35px;
    margin-left: 50px;
}
.nav_btn {
    cursor: none;
    border: none;
    color: #fff; 
    padding:8px 15px;
    font-size: 16px;
    white-space: nowrap;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #9024B6;
    font-family: "myPopinsLight";
    transition: all 0.3s ease-in-out;
}
.nav_btn:hover{
    background: rgb(152,26,210);
    background: linear-gradient(90deg, rgba(152,26,210,1) 0%, rgba(191,22,190,1) 49%, rgba(173,36,179,1) 51%, rgba(255,0,155,0.9641106442577031) 100%);
}
.nav_burger{
    display: none;
    margin-top: 45px;
    margin-left: 10px;
}
.nav_burger i{
    font-size: 35px;
    color: var(--dark-color);
}

/* +++++++++++++++ sticy nav javascript +++++++++++++++ */
.sticky{
    background-color:var(--primary-color);
    padding-bottom: 30px;
    box-shadow: 0px 7px 8px -3px rgba(34, 60, 80, 0.2);
}

.site_header{
    padding-top: 120px;
}

/* +++++++++++++++ start site header section +++++++++++++++ */

.site__header {
    width: 100%;
    height: 773px;
    display: flex;
    justify-content: space-between;
 }
.site__header_item {
    margin: 0 10px;
    padding: 0 5px;
}

.header__info-title {
    margin-top: 28px;
    font-size: 65px;
    font-family:myEdvardian ;
    color: var(--dark-color);
}
.full_name {
    width: 400px;
    color: white;
    position: relative;
    padding: 10px 7px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-size: 30px;
    margin-bottom: -30px;
    font-weight: 500;
    z-index: 3;
    border-radius: 12px;
    font-family: myPopinsMedium;
    background-color: #9024B6;
}

.full_name:hover{
    padding: 9px 7px;
    border-radius: 12px;
    border:1.5px solid #9024B6;
    background-color: #1A1919;
    color: #9024B6;
}
.header__info-text {
    margin-top: 29px;
    margin-bottom: 0;
    color: #9024B6;
    font-size: 90px;
    font-family: myPopinsMedium;
    font-style: normal;
    font-weight: 700;
    margin-bottom: -40px;
}
.header__info-paragraf {
    margin-top: 0px;
    color: var(--dark-color);
    font-family: myPopinsLight;
    font-size: 90px;
    text-transform: uppercase;


}
.header__person-info {
    margin-top: -24px;
    color: var(--dark-color);
    width: 476px;
    font-size: 17px;
    font-weight: 400;
    font-family: myPopinsLight;
}
.header__info-button {
    cursor: none;
    width: 159px;
    margin-top: 44px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    color: #fff;
    background-color: #9024B6;
}
.header__info-button:hover{
    padding: 4px 10px;
    color: #9024B6;
    background-color: var(--primary-color);
    border:1px solid #9024B6;
}
.header__info_image{
    width: 638px;
    height: 700px;
}


/* +++++++++++++++ Web dite start css about me +++++++++++++++*/

.aboutme_section-items {
  width: 100%; 
  display: flex;
  justify-content: space-between; 
}

.aboutme_section-item {
    width: 100%;
}
.aboutme_section-image {
    width: 640px;
    height: 613px;
    position: relative;    background-size: cover;
    background-repeat: no-repeat;

}
.aboutme_img {
    width: 530px;
    height: 583px;
    position: absolute;
    top: 0;
    right: 10px;
}
.aboutme_section-skills {
    width: 500px;
    padding-left: 0;
    margin-left: 0;
}
.aboutme_section-text{
    color: var(--dark-color);
    font-size: 17px;
    font-weight: 700;
}
.aboutme_siklls-title {
    color: #9024B6;
   margin-top: 40px;
   font-size: 50px;
   font-family: myPopinsLight;
   font-weight: 500;
   text-transform: capitalize;
}
.aboutme_skills-paragraf {
    margin-top: 34px;
    color: var(--dark-color);
    font-size: 15px;
    font-family:myPopinsLight;
    font-weight: 400;
}
.skills {
    margin-top: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 0;
}
.skill {
    margin-top:30px;
}
.skill_title {
    font-style: 30px;
    font-family: myPopinsMedium;
    color: var(--dark-color);
}
.skill_line {
    margin-top: 10px;
    width:500px;
    height: 6px;
    position: relative;
    background-color: rgb(101, 98, 98);
    border-radius: 5px;
}
@keyframes animated {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.line {
    position: absolute;
    display: block;
    background-color: #9024B6;
    height: 6px;
    border-radius: 5px;
    left: 0;
}
.line i {
    position: absolute;
    right: -5px;
    bottom: 50%;
    transform: translateY(50%);
    font-size: 19px;
    color: rgb(228, 10, 10);
}

.html{
    animation: html 2s forwards;
}
.script{
    animation: script 2s forwards;
}
.vue{
    animation: vue 2s forwards;
}
.react{
    animation: react 2s forwards;
}
@keyframes html {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 80%;
        opacity: 1;
    }
}
@keyframes script {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 50%;
        opacity: 1;
    }
}
@keyframes vue {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 45%;
        opacity: 1;
    }
}
@keyframes react {
    0%{
        width: 0;
        opacity: 0;
    }
    100%{
        width: 55%;
        opacity: 1;
    }
}
/* +++++++++++++++ Web dite start services +++++++++++++++*/
.blok_active{
    display: block;
    color: #1A1919;
    background-color: #9e3cc2a3;
}
.services {
}
.contanier {
}
.services_section {
    width: 100%;
    height: 800px;
    align-items: center;
}
.sevices_title {
    
}
.services_title-text {
    color: var(--dark-color);
    font-size: 17px;
    font-family:myPopinsLight ;
    font-style: normal;
    font-weight: 700;
}
.services_tiitle-paragraf {
    font-size: 50px;
    color: #9024B6;
    font-family:myPopinsLight;
    font-weight: 500;

}
.services_items{
    display: flex;
    flex-direction: column;
}
.services_item_one , .services_item_two{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -0px;
}
.services_item{
    list-style: none;
    width: 500px;
    height: 184px;
    background-color: #fff;
    margin: 10px 10px;
    border-radius: 20px;
    border: 2px solid #9024B6;
    background-color: #e3e3e3;

}
.item_text {
    color: #9024B6;
    font-size: 23px;
    font-family: myPopinsLight;
    display: flex;
    justify-content: center;
}
.item_info {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}
.item_info-img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}
.item_info-paragraf {
    width: 60%;
    margin-top: 10px;
    margin-right: 18px;
    font-size: 13px;
    font-family: serif;
    font-family: myPopinsLight;

}
/* +++++++++++++++ Web dite start Portfolio +++++++++++++++*/

.portfolio {
    width: 100%;
    margin-top: -100px;
    margin-bottom: 100px;
}
.portfolio_info {
    width: 100%;
    margin: auto;
}
.portfolio_info-title {
    color: var(--dark-color);
    text-transform: uppercase;
    font-family: myPopinsLight;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
}
.portfolio_info-text{
    margin-top: 40px;
    color: var(--dark-color);
    text-transform: uppercase;
    font-family: myPopinsLight;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
}
.portfolio_info-paragraf {
    margin-top: 20px;
    width: 70%;
    color: var(--dark-color);
    font-family: myPopinsLight;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
.slider{
    width: 70%;
    height: 510px;
    margin: auto;
    overflow: hidden;
    background-color: #9024B6;
    border-radius: 10px;
    padding: 10px 20px;
}

.portfolio_items {
    display: inline-flex;
    overflow: hidden;
    margin: auto;
    margin-top: 40px;
    height: 400px;
    width: 450%;
}
.portfolio_item {
    display: inline-flex;
    overflow: hidden;
    width: 900px;
    height: 380px;
    margin: auto;
    transition: all .5s ease-in-out;
}
.portfolio_more {
    width: 40%;
    position: relative;
    padding: 10px;
}
.portfolio_item_title {
    width: 80%;
    color: white;
    font-size: 40px;
    font-family: myPopinsLight;
}
.portfolio_item-info {
    color: white;
    font-size: 14px;
    font-family: myPopinsLight;
    margin-top: 30px;
}
.portfolio_item-button {
    color: black;
    position: absolute;
    bottom: 5px;
    padding: 5px 20px;
    border-radius: 10px;
    font-family: myPopinsLight;
    text-decoration: none;
    background-color: white;
}

.portfolio_iframe {
    padding: 10px;
    width: 60%;
}
.portfolio_iframe img{
    width:80%;
    height: 100%;
    margin-right: 20px;
    background-size: cover;
    border-radius: 20px;
}
.portfolio_controller {
    width: 320px;
    height: 1px;
    background-color:var(--dark-color);
    display: flex;
    margin-top: 60px;
    position: absolute;
    bottom: 100;
    left: 50%;
    transform: translateX(-50%);
}
.lin1 , .lin2 , .lin3 , .lin4{
    width: 80px;
    height: 10px;
    cursor: pointer;
    transform: translateY(-50%);
}
.controller_active {
    width: 80px;
    height: 4px;
    border-radius: 10px;
    background-color: #9024B6;
    position: absolute;
    left: 0;
    transform: translateY(-50%);
    transition: all .5s ease;
}

/* +++++++++++++++ Web dite start Frends Me +++++++++++++++*/

.frendsMe{
    width: 100%;
}
.frendsBtn {
    width: 200px;
    padding: 10px;
    color: white;
    font-family: myPopinsLight;
    background-color: #9024B6;
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
}
.frendsBtn i{
    font-size: 20px;
    padding-top: 2px;
}
.frend{
    display: flex;
    height: 750px;
}
.frends_items{
    width: 90%;
    margin: auto;
    margin-right: 75px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
   
}
.frends_item{
    width: 280px;
    height: 300px;
    background-color: #9024B6;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    border: 2px solid white;
}
.frends_item-img {
    width: 120px;
    height: 120px;
    margin-top: 15px;
    border-radius: 50%;
    border: 3px solid #9024B6;
}
.frends_item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid var(--dark-color);

}
.frends_item-title {
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 19px;
    font-family: myPopinsLight;
    color: white;

}
.frends_item-paragraf {
    font-family: myPopinsLight;
    color: white;
    font-size: 13px;
}
.frends_item-info{
    width: 90%;
    margin: auto;
    margin-top: 25px;
}
.frends_item-social{
    margin-top: 20px;
}
.frends_item-social a{
    cursor: pointer;
    margin: 5px;
}
.frends_item-social > a >i{
    font-size: 19px;
    color: white;
}



/* +++++++++++++++ Web dite start Contact Me +++++++++++++++*/

.contactme {
    height: 740px;
}

.contactMe_info {
}
.contactMe_title {
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    color: var(--dark-color);
    font-family: myPopinsLight;

}
.contactMe_text {
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    color: #9024B6;
    font-family: myPopinsLight;

}
.contactMe_paragraf {
    width: 876px;
    height: 80px;
    margin-top: 50px;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    color: var(--dark-color);
    font-family: myPopinsLight;

}
.contactMe_items {
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.contactMe_item {
    width: 40%;
}
.forms {
    display: flex;
    flex-direction: column;
    position: relative;
}
.forms input{
    width: 90%;
    height: 49px;
    margin: auto;
    margin-top:30px;
    padding-left: 20px;
    border: none;
    border-radius: 22px;
    font-size: 15px;
    font-family: myPopinsLight;
    background-color: #e3e3e3;
}
.forms textarea{
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top:30px;
    border-radius: 12px;
    border: none;
    font-size: 15px;
    padding-left: 20px;
    padding-top: 20px;
    font-family: myPopinsLight;
    background-color: #e3e3e3;

}
.Person_info {
    color: var(--dark-color);
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}
.bold{
    font-weight: 700;
}

.Person_title {
    margin-top:30px;
    font-size: 33px;
    font-style: normal;
    font-weight: 500;
    color: #9024B6;
}
.person_text {
    margin-top: 15px;
}
.person_number {
    margin-top: 15px;
}
.person_email {
    margin-top: 10px;

}
.person_adres {
    margin-top: 20px;
}
.contactMe{
    width: 100px;
    padding: 5px 0px;
    margin-left: 5%;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background-color: #9024B6;
    color: var(--primary-color);
}




/* +++++++++++++++ Web dite start Footer +++++++++++++++*/
footer{
   
    background-color: var(--primary-color);
}
.footer_section{
    width: 90%;
     
}
 .footer_text{
    padding-top: 30px;
}

.footer_nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_item{
    margin-top: 40px;
    margin-right: 57px;
    list-style: none;
    white-space: nowrap;
}
.footer_item-link {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    font-family: myPopinsLight;
    text-transform: uppercase;
}
.socialmedia {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.socialmedia_items:not(last-child){
    margin-left: 26px;
    list-style: none;

}
.socialmedia_item {
    text-decoration: none;
    cursor: none;
}
.fa-brands {
    font-size: 34px;
    color: var(--dark-color);
}

.footer_bottom {
    height:40px;
    background-color: #9024B6;
}
.footer_botton-text {
    color: #fff;
    font-size: 18px;
    align-items: center;
    font-family: myPopinsLight;
}

/* +++++++++++++++ Web dite start css responsive +++++++++++++++*/
@media screen and (max-width:1400px){
    .nav_item-link{
        font-size: 14px;
        padding: 11px 13px;
    }
    .nav_item-link:not(:last-child){
        margin-left: 15px;
    }
    .nav_button{
        margin-left: 50px;
    }
    
}

@media screen and (max-width:1200px){
    .nav_item-link{
        font-size: 13px;
    }
    .site__header{
        width: 90%;
    }
    .header__info_image{
        width:538px;
        height: 600px;

    }
    
    .aboutme_img{
        width: 500px;
        height: 513px;
    }
    .aboutme_section-skills{
        width: 400px;
    }
    .services_item{
        width: 450px;
        margin: 10px 10px;
    }
    .contactMe_title {
        font-size: 17px;
        font-style: normal;
        font-weight: 700;
        color: var(--dark-color);
        font-family: myPopinsLight;
    
    }
    .contactMe_text {
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        color: #9024B6;
        font-family: myPopinsLight;
    
    }
    .contactMe_paragraf {
        width: 576px;
        height: 60px;
        margin: 0;
        margin-top: 40px;
        font-size: 15px;
      
    }
    .forms input{
        width: 80%;
        height: 40px;
        
    }
    .forms textarea{
        width: 80%;
    }
    .Person_info{
        font-size: 15px;
    }
    .portfolio_item_title{
        font-size: 30px;
    }
}
@media screen and (max-width:1050px){
    body{
        overflow-x: hidden;
    }
    .navigation_menu_items{
        position: absolute;
        right: -5%;
        top: 100%;
        margin: 0;
        padding: 0;
        width: 330px;
        height: 50vh;
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        border-left: 2px solid #9024B6;
        border-bottom: 2px solid #9024B6;
        border-top: 2px solid #9024B6;
        background-color: var(--primary-color);
        transform: translateX(100%);
        transition: transform .3s ease-in;
    }

    .nav_item{
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100px;
        display: flex;
        padding-right: 50px;
        align-items: center;
        justify-content: center;
    }
  .sticky .navigation_menu_items{
      margin-top: 0;
      padding-top:0px;
    }
    .nav_item-link{
        margin: 0;
        padding: 0;
        width: 100%;
        font-size: 20px;
        text-align: center;
        padding-bottom: 5px;
    }
    .nav_burger{
        display: block; 
    }
    .burger_active{
       transform: translateX(0);
    }
   .nav_button{
       right: 20%;
       padding: 0;
       margin-left: 0;
       margin-top: 45px;
       position: absolute;
   }
   .header__info_image{
    width:400px;
    height: 500px;
   }
   .slider{
    width: 90%;
   }
   .portfolio_items {
    width: 415%;
}
.portfolio_item {
    width: 60%;
}
.portfolio_info-text{
    font-size: 35px;
}
.portfolio_info-paragraf{
    font-size: 18px;
}
}
@media screen and (max-width:1000px) {
    .footer_item{
        margin-right: 30px;
    }
    .services_item{
        width: 400px;
    }
    .contactme{
        margin-top: 100px;
    }
    .contactMe_items{
        display: flex;
        flex-direction: column;
    }
    .contactMe_item{
        width: 80%;
        margin: auto;
    }
    .forms input{
        width: 70%;
        height: 40px;
        
    }
    .forms textarea{
        width: 70%;
    }
    .Person_info{
        font-size: 15px;
    }
}
@media (min-width: 840px) and (max-width:1000px){
   .full_name{
    width: 350px;
    font-size: 25px;
    padding: 10px 5px;
   }
    .header__info-text{
        font-size: 70px;
    }
    .header__info-paragraf{
        font-size: 70px;
    }
    .header__info_image{
        width: 380px;
        margin-right: 10px;
    }
    .header__person-info{
        width: 370px;
    }
   
}
@media (max-width:1050px) and (min-width: 990px){
    .nav_burger{
        margin-right: 50px;
    }
}
@media screen and (max-width:800px){
    .nav_button{
        right: 25%;
    }
    footer{
        margin-top: 100px;
    }
    .footer_item{
        margin-right: 15px;
    }
    .footer_item-link{
        font-size: 15px;
    }
    .portfolio_info-text{
        font-size: 30px;
    }
    .portfolio_info-paragraf{
        font-size: 14px;
    }
}
@media screen and (max-width:850px){
    .header__info_image{
        display: none;
    }
    .aboutme_section-image{
        display: none;
    }
    .aboutme_section-skills{
        width: 90%;
        margin: auto;
    }
    .skill_line{
        width: 420px;
    }
    .aboutme_section-items{
        margin-top: -150px;
    }
    .aboutme_siklls-title {
        font-size: 40px;
        font-style: bold;
    }
    .aboutme_skills-paragraf {
        margin-top: 10px;
        font-size: 13px;
        
    }
    .frends_items{
        display: grid;
        grid-template-columns: calc((100% / 2) - px);
    }
   
    .footer_item{
        margin-top: 0;
    }
    .services_item_one , .services_item_two{
        display: flex;
        flex-direction: column;
    }
    .services_section{
        margin-top: 3rem;
        margin-left: -1rem;
    }
    .services_tiitle-paragraf{
        font-size: 40px;
    }
    .services_item_two{
        margin-top: -15px;
    }
    .services_item{
        width: 90%;
        height: 160px;
        margin: 0;
        margin: auto;
        margin-top: 20px;
    }
    .item_info-paragraf{
        width: 80%;
    }
    .contactme{
        margin-top: 100px;
    }
    .contactMe_text {
        font-size: 30px;
    }
    .contactMe_paragraf {
        width: 80%;
        margin: auto;
    }
    .contactMe_items{
        display: flex;
        flex-direction: column;
    }
    .contactMe_item{
        width: 90%;
        margin: auto;
    }
    .forms input{
        width: 90%;
        height: 40px;
        
    }
    .forms textarea{
        width: 90%;
    }
    .person_email {
        margin-top: 5px;
    
    }
    .person_adres {
        margin-top: 10px;
    }
    .Person_info{
        font-size: 13px;
    }
    .portfolio{
        margin-top: 100px;
    }
    .slider{
        width: 90%;
    }
    .portfolio_more{
        width: 90%;
    }
    .portfolio_item_title{
        font-size: 25px;
    }
    .portfolio_item-info{
        letter-spacing:1px;
    }
    .portfolio_iframe{
        display: none;
    }
    .slider{
        width:  400px;
     }
    .portfolio_more{
        width: 90%;
    }
    .portfolio_item-button{
        bottom: 0px;
     }
     .portfolio_item-info{
        font-size: 13px;
    }
    .portfolio_info-paragraf{
        font-size: 13px;
    }
    
} 


@media screen and (max-width:550px){
    .navigation_menu{
        position: relative;
    }
    .nav_button{
       position: absolute;
       left: 0px;
       width:100%;
       margin: auto;
       bottom: -80vh;
    }
    .nav_btn{
        width: 100%;
        margin: auto;
    }
    .nav_burger{
        margin-right: 15px
    }
    .nav_btn{
        font-size: 14px;
    }
    .header__info-title {
        font-size: 50px;
    }
    .full_name {
        width: 300px;
        font-size: 25px;
    }
    .header__info-text {
        font-size: 60px;
        margin-top: 39px;
    }
    .header__info-paragraf {
        font-size: 60px;
        margin-top: 20px;
    }
    .header__person-info {
        font-size: 15px;
        width: 90%;
        margin: auto;
    }
    .aboutme_section-skills{
        width: 90%;
        margin: auto;
    }
    .skill_line{
        width: 330px;
    }
    footer{
       
        height: 400px;
    }
    .footer_section{
        position: relative;
    }
    .footer_text{
        width: 90%;
    }
    .footer_nav-items{
        display: block;
        width: 90%;
        margin: auto;
    }
    .footer_item{
        width: 100%;
        margin: auto;
        margin-top: 10px;
        margin-right: 0;
    }
    .socialmedia {
        margin-top: 20px;  
        position: absolute;  
        right: 100px;
        top: 100px;
        display: flex;
        flex-direction: column;
    }
    .socialmedia_items:not(last-child){
        margin-left: 10px;
        margin-top: 10px;
        list-style: none;
    }
    .fa-brands{
        font-size: 18px;
    }
    .footer_bottom{
        margin-top: 50px;
    }
    .services_tiitle-paragraf{
        font-size: 35px;
    }
    .item_info-img {
        width: 80px;
        height: 80px;
        margin-left: 10px;
    }
    .item_info-paragraf {
        width: 60%;
        margin-top: 10px;
        margin-right: 10px;
        font-size: 12px;
        font-family: serif;
        font-family: myPopinsLight;
    
    }
    .contactMe_text{
        font-size: 25px;
    }
    .contactMe_paragraf{
        font-size: 12px;
    }
    .contactMe_item{
        width: 100%;
        margin: auto;
    }
    .forms input{
        width: 100%;
        height: 40px;
        
    }
    .forms textarea{
        width: 100%;
    }
    .Person_info{
        font-size: 10px;
    }
}
@media screen and (max-width:400px){
    body{
        overflow-x: hidden;
    }
    .navigation_menu_items{
      
    }
    .nav_item{
        padding-right: 10px;
    }
    .aboutme_section-skills{
        margin-top: -70px;
    }
    .aboutme_siklls-title{
       font-size: 35px; 
       margin-top: 10px;
    }
    .aboutme_skills-paragraf{
        margin-top: 8px;
        width: 330px;
        font-size: 11px;
    }
    .skills{
        margin-top: 5px;
    }
    .aboutme_section-text{

    }
    .skill_line{
        width: 300px;
        margin: auto;
    }
    .footer_botton-text{
        width: 100%;
        padding: 10px;
    }
    .footer_nav-items{
        margin-top: 20px;
    }
    .footer_item{
        margin: 0;
        padding: 0;
    }
    .footer_item-link{
        font-size: 10px;
    }
    .fa-brands{
        font-size: 17px;
    }
    .footer_botton-text{
        font-size: 12px;
    }
    .services_tiitle-paragraf{
        font-size: 30px;
    }
    .item_info-img {
        width: 70px;
        height: 70px;
        margin-left: 5px;
        background-size: cover;
    }
    .item_info-paragraf {
        width: 60%;
        margin-top: 10px;
        margin-right: 9px;
        font-size: 10px;
       
    }
    .portfolio_item-button{
       bottom: 120px;
    }
   
    .portfolio_items{
        height: 300px;
        width: 500%;
    }
    .portfolio_controller{
        margin-top: 30px;
        width: 310px;
    }
    .portfolio_item-info{
        margin-top: 0;
        font-size: 10px;
    }
    .portfolio_item-button{
        bottom: 100px;
     }
     .slider{
        width: 335px;
        height: 350px;
     }
     .portfolio_item-info{
       width: 80%;
    }
     .portfolio_more{
        padding: 5px;
     }
}
@media screen and (max-width:350px){
    .item_info-paragraf{
        font-size: 8px;
    }
    .person_text {
        margin-top: 5px;
    }
    .person_number {
        margin-top: 5px;
    }
    .person_email {
        margin-top: 0px;
    }
    .person_adres {
        margin-top: 0px;
    }
    .slider{
        width: 100%;
    }
    .portfolio {
        height: 1100px;
    }
    .portfolio_item-info{
        font-size: 10px;
    }
    .portfolio_item-button{
        bottom: 100px;
     }
     .slider{
        width: 300px;
        height: 350px;
     }
}